MYSQL_HOST=database
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=SHousing
SESSION_SECRET=
CORS_ORIGIN=http://localhost:5173
PORT=3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
VERYFI_CLIENT_ID=
VERYFI_CLIENT_SECRET=