.create-chore-title{
    font-family: 'Barbie', serif!important;
    color: var(--text);
    font-size: 5rem;
    text-shadow: 2px 2px 0 var(--ink);
    margin: 20px;
    margin-bottom: 30px;
}

.create-chore-container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg);
    padding-bottom: 50px;
       
}

.input-container{
    background-color: var(--paper);
    border: 1px solid var(--accent);
}
.form-label{
    font-family: 'Oregano', serif;
    color: var(--ink);
    font-size: 30px;
}

.chore-input input::placeholder, .chore-input textarea::placeholder{
    font-family: 'Oregano', serif!important;
    font-size: 22px;
    color: var(--text-muted)
}

.submit-chore-btn{
    background-color: var(--primary)!important;
    color: var(--ink)!important;
    padding: 1.1rem!important;
    padding-left:30px!important;
    padding-right: 30px!important;
    font-family: 'Barbie', serif!important;
    font-size: 1.5rem!important;
    box-shadow: 4px 4px 0 black;
    border: none!important;
    transition: transform 0.2s ease!important;
}

.submit-chore-btn:hover{
    background-color: var(--accent)!important;
    color: var(--text)!important;
    transform: scale(1.05)!important;
}

.chore-input input,
.chore-input textarea {
  height: 50px;
  font-size: 1.2rem; /* makes text bigger too */
}

.chore-input textarea {
  height: 150px;
}

.error-message{
    margin-top: 50px;
    margin-bottom: -1px;
  color: #b42318;            
  font-size: 1.6rem;          
  width: 100%;
  text-align: center;
  font-family: 'Oregano', serif;
}

.back-button{
    position: absolute;
    top: 85px;
    left: 30px;
    border-radius: 4px;
    padding: 1.3rem;
    font-family: 'Oregano', serif;
    background-color: var(--primary);
    color: var(--ink);
    font-size: 1.5rem;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2); /* depth */
    transition: transform 0.2s;
}

.back-button:hover{
  box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
  border: 2px solid var(--accent)
}
